@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color: #e8ecef;
  background-color: #0f172a;
}

* {
  box-sizing: border-box;
}

html,
body,
#root {
  margin: 0;
  height: 100%;
}

body {
  background: #0f172a;
  color: #e8ecef;
  font-family: Inter, ui-sans-serif, system-ui, -apple-system, Segoe UI, Roboto, sans-serif;
}
